.ahem-inline-input {
  background: white;
  color: #b0bec9;
  border-radius: 1px;
  font-size: 16px;
  padding: 5px;
  border: 0;
  height: 20px;
  max-width: 300px;
}

.background {
  border: 1px solid #b0bec9;
  border-radius: 5px;
  padding: 20px;
  background: #e2f1fc;
  margin: auto;
  margin-top: -146px;
  position: relative;
  z-index: 1;
  width: 300px;
}

.ahem-inline-input-div {
  padding: 5px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #b0bec9;
}

.suffix {
  color: #b0bec9;
}

.submit-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
#submit-tooltiptext {
  visibility: hidden;
  width: 260px;
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 84%;
  margin-left: -60px;
}

#submit-tooltiptext::after{
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 14%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent red transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
#submit-tooltiptext.submit-tooltip-error {
  visibility: visible;
}
