<div *ngIf="isInline" class="ahem-inline-input-div">
  <input  type="text" matInput
          [matAutocomplete]="auto"
          [formControl]="autoCompleteControl"
          [(ngModel)]="selectedMailbox"
          placeholder="Mailbox"
          (keyup.enter)="clickSubmit()"
          class="ahem-inline-input mat-elevation-z8">
  <button mat-button matSuffix mat-icon-button aria-label="Go" routerLink="/mailbox/{{selectedMailbox | trimDomain}}">
    <mat-icon>navigate next</mat-icon>
  </button>
  <!--<span *ngIf="isInline && !deviceService.isSmallScreen()" matSuffix style="color: lightgrey">@{{properties.allowedDomains[0]}}</span>-->
</div>

<div *ngIf="!isInline">
  <div class="background">
    <div class="tooltips">
      <mat-form-field color="primary">
        <input type="text" matInput
               [matAutocomplete]="auto"
               [formControl]="autoCompleteControl"
               [(ngModel)]="selectedMailbox"
               placeholder="Mailbox"
               (keyup.enter)="clickSubmit()"
               (input)="validateEmail()" >
        <span matSuffix class="suffix">@{{properties.allowedDomains[0]}}</span>
      </mat-form-field>
      <span id="missing-text-tooltiptext" [ngClass]="missingText ? 'missing-text-tooltip-error' : 'dummy'">Please enter an email</span>
      <span id="at-tooltiptext" [ngClass]="hasAt ? 'at-tooltip-error' : 'dummy'">'@' is not permited</span>
      <span id="forbidden-tooltiptext" [ngClass]="forbidden ? 'forbidden-tooltip-error' : 'dummy'">This address is forbidden</span>
    </div>
    <mat-autocomplete #auto="matAutocomplete" >
      <mat-option *ngFor="let mailbox of mailboxes" [value]="mailbox">
        {{ mailbox }}
      </mat-option>
    </mat-autocomplete>
    <div class="tooltips">
      <button mat-button (click)="clickSubmit()">Submit</button>
      <!-- <span id="submit-tooltiptext" [ngClass]="badValue ? 'submit-tooltip-error' : 'dummy'">Can't open this mailbox, fix the error</span> -->
    </div>
    <button mat-button (click)="generateEmail()">Generate</button>
    <button mat-button (click)="copyEmail()">Copy email</button>
  </div>
</div>

